doctype html
html(lang='en')
    head
        title="Login Page"
        link(rel="stylesheet" type="text/css" href="css/style.css")     
    body
        form(action='http://localhost:3000/userform' method='GET') 
            
                h1 Aplikacja wyświetlająca zdjęcia zamieszczane przez użytkowników
                p Zaloguj się przez: 
                button
                    img(src='./assets/chrome.png' alt='logo google')  
                    input(type="submit" value="Google") 
                        