doctype html
html(lang='en')
    head
        title="Login Page"
        link(rel="stylesheet" type="text/css" href="css/style.css")     
    body
        form(action='http://localhost:3000/' method='GET') 
            
                h1 Aktualne zdjęcia użytkowników 
                img.image(src='https://cdn.pixabay.com/photo/2019/09/04/20/34/plantation-4452538__340.jpg' alt='image1')
                img.image(src='https://cdn.pixabay.com/photo/2015/07/27/19/47/turtle-863336__340.jpg' alt='image2')
                img.image(src='https://cdn.pixabay.com/photo/2017/03/27/16/50/beach-2179624__340.jpg' alt='image3')
                img.image(src='https://cdn.pixabay.com/photo/2015/03/16/10/59/sunset-675847__340.jpg' alt='image4')
                img.image(src='https://cdn.pixabay.com/photo/2016/03/04/19/36/beach-1236581__340.jpg' alt='image5')
                img.image(src='https://cdn.pixabay.com/photo/2013/11/01/11/13/dolphin-203875__340.jpg' alt='image6')
                img.image(src='https://cdn.pixabay.com/photo/2017/03/31/15/34/sunset-2191645__340.jpg' alt='image7')
                img.image(src='https://cdn.pixabay.com/photo/2014/08/15/11/29/sea-418742__340.jpg' alt='image8')
                img.image(src='https://cdn.pixabay.com/photo/2013/10/09/02/26/sunset-192980__340.jpg' alt='image9')
                img.image(src='https://cdn.pixabay.com/photo/2016/11/14/22/18/beach-1824855__340.jpg' alt='image10') 
                br
                button    
                    input(type="submit" value="Wyloguj się") 
                        